.DS_Store
__pycache__/
*.py[cod]
node_modules/
.tools
.cache/
bin/
dist/
.prifly/
!test/fixtures/project-authoring/*/repository/.prifly/
!test/fixtures/project-authoring/*/repository/.prifly/**
.idea/
